.patientFormHeading h1 {
    color: black;
    text-align: center;
    padding: 6px;
    font-style: italic;
    font-weight: 900;
    cursor: pointer;
}

.patientForm {
    margin: 6px;
    background: white;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formEntries {
    padding: 15px;
    width: 80px !important;
}

label {
    font-size: 20px !important;
    font-weight: 400!important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
}

.xyz button {
    background: green;
    color: wheat;
    height: 50px;
    width: 42%;
    margin: 26px;
    border-radius: 10px;
}